html, body
{
  height: 100%;
  margin: 0;
}

body
{
background-image: linear-gradient(to right top, #f46b8b, #f6c918, #b4e347, #65e5f3, #b37de5);
color:white;
text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.219);
}

.header
{
	color: white;font-family: 'Staatliches', cursive;font-size: 45px;letter-spacing: 1px;margin-top: 80px;
}
.header img
{
	width: 80px;margin-left: -15px;
}

.login_div
{
	background: rgba(255,255,255,0.8);float: none;border-radius: 15px;
}

.logo
{
	width: 80px;margin-top: 30px;
}

#login_button, #add_room_button, #send_button
{
	width: 80%;
	border-radius: 15px;
	border-width:2px;
	border-color:white;
	background-image: linear-gradient(to right, #f46b8b, #f6c918, #b4e347, #65e5f3, #b37de5);
	box-shadow: 0px 5px 5px rgba(19, 19, 19, 0.109);
	font-family: 'Staatliches', cursive; font-size: large; letter-spacing: 1px;
}

.room_name
{
	cursor: pointer;
	font-size: 20px;
}


#logout
{
	font-size: 20px; float: right;
}


#output
{
	padding: 10px; width:80%;background: rgba(255,255,255,0.8);border-radius: 15px;
}

.input_div_room_page
{
	width: 80%;
}

.input_div label
{
	color: white;font-size: 20px;
}


.input_div_message_page
{
	position: fixed;bottom: 0px;width: 100%;background: rgba(255,255,255,0.8);
}
.input_div_message_page label
{
	color: black;
}
.input_div_message_page #msg
{
	width: 80%;
}
.input_div_message_page button
{
	margin-top: 15px;
	width: 50%; 
}
.color_white
{
	color: white
}

.user_tick
{
	width:20px;
}
.message_h4
{
	padding-left:5px;color:grey;
}

#box, #anotherbox, #box4
{
	background-color: rgba(255, 255, 255, 0.436);
}

#user_name, #room_name, #msg
{
	border-width: 2px;
	border-color: white;
	font-family: 'Shadows Into Light Two', cursive; box-shadow: 0px 5px 5px rgba(19, 19, 19, 0.109);
}